<div class="card p-3 hm-tmr-0">
    <section class="hm-tab-wrapper">
        <div class="hm-tab-nav-wrapper hm-simple-tab-nav">
            <div class=" hm-tab-link  btn active" hmtab="userRolesSettings" hm-hook="click" hm-action="hmTab">
                User Roles
            </div>
            <div class=" hm-tab-link  btn" hmtab="implicitRoles" hm-hook="click" hm-action="hmTab">
                Implicit Roles
            </div>
        </div>
        <div class="hm-tab-content-wrapper">
            <div class="hm-tab-content active" hmtab="userRolesSettings">
                <div class="pt-2">
                    <h3 class="hm-mr-0">
                        User Roles
                    </h3>
                    <p>
                        Manage users roles.
                    </p>
                </div>
                <div class=" mt-4">
                    
                    <div class="">
                        <section class="mb-4">
                            <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                                <div class="row">
                                    <div class="col-12 col-md-8 ">
                                        <h4 class="hm-mr-0 hm-text-normal">
                                           Asset Manager 
                                        </h4>
                                        <div class="text-muted">
                                            An asset manager has all the permissions to manage the assets in the organization. 
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 ">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-fab btn-round btn-primary">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                    <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                </div>
                            </div>
                        </section>

                        <section class="mb-4">
                            <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                                <div class="row">
                                    <div class="col-12 col-md-8 ">
                                        <h4 class="hm-mr-0 hm-text-normal">
                                           Global Admin  
                                        </h4>
                                        <div class="text-muted">
                                            A global admit has all permissions across the system including finances and executive dashboards.
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 ">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-fab btn-round btn-primary">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                </div>
                            </div>
                        </section>
                        <section class="mb-4">
                            <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                                <div class="row">
                                    <div class="col-12 col-md-8 ">
                                        <h4 class="hm-mr-0 hm-text-normal">
                                           HR Executive  
                                        </h4>
                                        <div class="text-muted">
                                            A HR Executive has access to manage all employee. information except financial information and employee letters.
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 ">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-fab btn-round btn-primary">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                </div>
                            </div>
                        </section>
                        <section class="mb-4">
                            <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                                <div class="row">
                                    <div class="col-12 col-md-8 ">
                                        <h4 class="hm-mr-0 hm-text-normal">
                                           HR Manager   
                                        </h4>
                                        <div class="text-muted">
                                            A HR manager has access to manage all employee information including employee financial information and employee letters. 
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 ">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-fab btn-round btn-primary">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                </div>
                            </div>
                        </section>
                        <section class="mb-4">
                            <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                                <div class="row">
                                    <div class="col-12 col-md-8 ">
                                        <h4 class="hm-mr-0 hm-text-normal">
                                           Payroll Admin   
                                        </h4>
                                        <div class="text-muted">
                                            A payroll administrator has all permissions to manage payroll.
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 ">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-fab btn-round btn-primary">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                </div>
                            </div>
                        </section>
                        <section class="mb-4">
                            <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                                <div class="row">
                                    <div class="col-12 col-md-8 ">
                                        <h4 class="hm-mr-0 hm-text-normal">
                                           Performance Admin    
                                        </h4>
                                        <div class="text-muted">
                                            A performance admin has all permissions to performance management module.
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 ">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-fab btn-round btn-primary">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                </div>
                            </div>
                        </section>
                        <section class="mb-4">
                            <div class="hm-bg-dull hm-radius-4 p-3 hm-min-h-100">
                                <div class="row">
                                    <div class="col-12 col-md-8 ">
                                        <h4 class="hm-mr-0 hm-text-normal">
                                           Project Admin
                                        </h4>
                                        <div class="text-muted">
                                            A project administrator has all permissions across the project including team, tasks and billing. 
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 ">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-fab btn-round btn-primary">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <img src="<%= baseUrl %>/img/dummy-pill.png" alt="" class="pb-2 pr-2">
                                </div>
                            </div>
                        </section>
                        

                        
                    </div>
                </div>
            </div>
           
            <div class="hm-tab-content " hmtab="implicitRoles">
                <div class="">
                    <div class="pt-2">
                        <h3 class="hm-mr-0">
                            Implicit Roles
                        </h3>
                        <p>
                             An implicit role is automatically assigned to an employee as a part of system functionality. They are assigned as part of their job function or workflow as defined below.
                        </p>
                    </div>
                    <div class="hm-max-w-800 pt-4 pl-3">
                        <section class="mb-4">
                            <div class="">
                                <h4 class="hm-mr-0 hm-text-normal">
                                   Reporting Manager  
                                </h4>
                                <div class="text-muted">
                                    An employee who is assigned as a reporting manager for any other employee will assume this role. A Reporting Manager can view the profiles and take actions such as approving documents, leave and attendance requests etc of direct reports.
                                </div>
                            </div>
                        </section>
                        
                        <section class="mb-4">
                            <div class="">
                                <h4 class="hm-mr-0 hm-text-normal">
                                   L2 Manager / Manager Of Manager  
                                </h4>
                                <div class="text-muted">
                                    L2 manager is an employee who is the manager of a reporting manager. L2 manager can view the profiles and take actions such as approving documents, leave and attendance requests etc of skip level employees or indirect reports .
                                </div>
                            </div>
                        </section>

                        <section class="mb-4">
                            <div class="">
                                <h4 class="hm-mr-0 hm-text-normal">
                                   Department Head  
                                </h4>
                                <div class="text-muted">
                                    A Department Head can view the profiles and take actions such as approving documents, leave and attendance requests etc. of employees within the department.
                                </div>
                            </div>
                        </section>

                        <section class="mb-4">
                            <div class="">
                                <h4 class="hm-mr-0 hm-text-normal">
                                   Business Unit Head   
                                </h4>
                                <div class="text-muted">
                                    A Business Unit Head can view the profiles and take actions such as approving documents, leave and attendance requests etc of employees within the business unit.
                                </div>
                            </div>
                        </section>

                        <section class="mb-4">
                            <div class="">
                                <h4 class="hm-mr-0 hm-text-normal">
                                   Project Manager    
                                </h4>
                                <div class="text-muted">
                                    An employee can be assigned as a project manager for a specific project and his permission can be assigned in the project settings. The scope is limited to that specific project. He can manage tasks and team of the project.
                                </div>
                            </div>
                        </section>

                        <section class="mb-4">
                            <div class="">
                                <h4 class="hm-mr-0 hm-text-normal">
                                   Client Manager     
                                </h4>
                                <div class="text-muted">
                                    An employee can he assigned as client manager for a specific client and he can manage the respective client details like all the projects under the client , rate card, client contacts.
                                </div>
                            </div>
                        </section>
                        


                        
                    </div>
                </div>
                
            </div>
           
        </div>
    </section>
</div>

<% include ../company/modals/modal_addNewLocation %>